.optionsBox{
  width: 100%;
  background-color: #000133; 
  padding: 5px;
}



.quarter{
    vertical-align: center;
    display: inline-block;
    width: 23%;
}

.optionsDisplayBox{
  width: 95%;
  margin: 10px auto;
}


.css-deleteButton{
  display: inline;
  background-color: #000133;
  color: white;
  border: 1px solid transparent; 
  border-radius: 5px;
  font-size: 1.2em;
}


.css-deleteButton:hover{
  background-color: red; 
}