.form{
  width: 40%;
  margin: 10% auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 9px;
}

.formElement{
  margin: 10px;
}

button.deleteEntryButton {
  background-color: #911507;
  color: white;
  border: 1px solid transparent; 
  font-size: 1.2em;
}

button.deleteEntryButton:hover {
  background-color: red;
}

button.sendButton:hover {
  background-color: green;
}