.outerEntryForm{
  width: 100%;
}

.innerEntryForm{
  width: 40%;
  margin: auto;
}

.form{
  width: 40%;
  margin: 10% auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 9px;
}

.formElement{
  margin: 10px;
}

.entryElement{
  width: 100%;
  border: 1px solid black;
  color: black;
  padding: 10px;
  margin: 10px;
}

.entryElement > .css-entryInput,
.entryElement > .css-entryLabel{
  display: inline-block;
  width: 50%;
  font-size: 16px;
  padding: 0 10px;
  vertical-align: middle;
}

.entryElement > .css-entryInput{
  text-align: right; 
}

.entryElement > .css-entryInput text,
.entryElement > .css-entryInput textarea{
  width: 80%;
}

.entryElement > .css-entryInput textarea{
  height: 100px; 
}

button.deleteEntryButton {
  background-color: #911507;
  color: white;
  border: 1px solid transparent; 
  font-size: 1.2em;
}

button.deleteEntryButton:hover {
  background-color: red;
}

button.sendButton {
  background-color: #00A6B2;
  color: white;
  border: 1px solid transparent; 
  font-size: 1.2em;
}

button.sendButton:hover {
  background-color: #0Abf65;
}