.outerEntryForm{
  width: 100%;
}

.innerEntryForm{
  width: 85%;
  margin: auto;
}

.form{
  width: 40%;
  margin: 10% auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 9px;
}

.formElement{
  margin: 5px;
}

.entryElement{
  width: 100%;
  background-color: #d4d6d8;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.entryElement > .css-entryInput,
.entryElement > .css-entryLabel{
  display: inline-block;
  width: 85%;
  font-size: 16px;
  padding: 0 10px;
  vertical-align: middle;
}

.entryElement > .css-entryInput{
  text-align: right; 
}

.entryElement > .css-entryInput text,
.entryElement > .css-entryInput textarea{
  width: 80%;
}

.entryElement > .css-entryInput textarea{
  height: 100px; 
}

button.deleteEntryButton {
  background-color: black;
  color: white;
  border: 1px solid transparent; 
  font-size: 1.2em;
}

button.deleteEntryButton:hover {
  background-color: red;
}

button.sendButton {
  background-color: white;
  color: black;
  border: 1px solid transparent; 
  font-size: 1.2em;
}

button.sendButton:hover {
  background-color: #4dbc1c;
}

@media only screen and ( min-width: 900px ) {
    .entryElement > .css-entryInput,
    .entryElement > .css-entryLabel{
        width: 40%;
    }

    .innerEntryForm{
        width: 40%;
    }
}