.loginDiv{
    margin: 5% auto;
    padding: 7px;
    background-color: #d4d6d8;
    width: 85%;
    border-radius: 5px;
}

.demoFont{
    color: red;
}

.css-currentCount{
    font-size: 2em;
}

@media only screen and ( min-width: 760px ) {
    .loginDiv{
        width: 40%;
    }
}