.parentDashboardDisplay{
  background-color: #000133;
}

.displayBox{
  width: 75%;
  margin: 50px auto;
  padding: 10px;
  background-color: #B29100;
  color: black;
  border: 1px solid black;
}
.upperBox{
  width: 55%;
  background-color: #FFCF00;
  border-radius: 5px;
  color: black;
  padding: 15px;
}
.returnTimelinesButton{
  margin: 10px auto 10px; 
}
