.displayBox{
  width: 85%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px auto;
}

.returnTimelinesButton{
  margin: 10px auto 10px; 
}


button.deleteEntryButton {
  background-color: #911507;
  color: white;
  border: 1px solid transparent; 
  font-size: 1.2em;
}

button.deleteEntryButton:hover {
  background-color: red;
}