*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

ul{
  list-style: none; 
}

.form{
  width: 40%;
  margin: 10% auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 9px;
}

.formElement{
  margin: 10px;
}

button.react-calendar{
  color: black; 
}

.date-picker_font{
  color: black;
}

h1{
  margin: 0;
  padding: 9px;
}

button{
  background-color: black;
  color: white;
  border: 1px solid transparent; 
  font-size: 1.2em;
}


@media ( min-width: 760px ){
}