
.App {
  text-align: center;
}

.routingLink{
  text-decoration: none;
  color: white;
}

ul{
  list-style: none; 
}

.third{
    vertical-align: center;
    display: inline-block;
    width: 33.3%;
}

.form{
  width: 40%;
  margin: 10% auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 9px;
}

.formElement{
  margin: 10px;
}