*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

ul{
  list-style: none; 
}

.form{
  width: 40%;
  margin: 10% auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 9px;
}

.formElement{
  margin: 10px;
}

button.react-calendar{
  color: black; 
}

.date-picker_font{
  color: black;
}

.error{
  margin: 0 10px;
  color: #b70517;
  font-weight: bold;
}

.datePickerError{
  margin-top: 50px;
}

h1{
  margin: 0;
  padding: 9px;
}

.regularButton{
  background-color: #222;
  color: white;
  border: 1px solid transparent; 
  border-radius: 5px;
  padding: 2px;
  font-size: 1.2em;
}

.regularButton:hover{
  background-color: #FF6800;
}
@media ( min-width: 760px ){
}